In [1]:
#Loading and Reading CSV Files

In [2]:
# Add Matplotlib inline magic command
%matplotlib inline

# Add dependencies
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os

In [3]:
#Files to load
games_data_to_load = "../Data/games_scores.csv"
movies_data_to_load = "../Data/movies_scores.csv"
music_data_to_load = "../Data/music_scores.csv"
tv_data_to_load = "../Data/tv_scores.csv"

In [4]:
#Read data
games_data_df = pd.read_csv(games_data_to_load)
movies_data_df = pd.read_csv(movies_data_to_load)
music_data_df = pd.read_csv(music_data_to_load)
tv_data_df = pd.read_csv(tv_data_to_load)

In [5]:
# Display the data table for preview
music_data_df.head()

,id,artist,metascore,release_date,sort_no,summary,title,user_score
0,13354,Wadada Leo Smith,99,"May 22, 2012",1,The four-disc set from the jazz trumpeter was ...,Ten Freedom Summers,4.2
1,37516,Fiona Apple,98,"April 17, 2020",2,The fifth full-length studio release for the a...,Fetch the Bolt Cutters,8.1
2,1671,Brian Wilson,97,"September 28, 2004",3,"Well, better 37 years late than never. Origina...",SMiLE,7.9
3,1538,Loretta Lynn,97,"April 27, 2004",4,It's been over 40 years since she released her...,Van Lear Rose,8.4
4,22163,Kendrick Lamar,96,"March 16, 2015",5,The third full-length studio release from the ...,To Pimp A Butterfly,8.9

In [6]:
#Drop "tbd" user_score rows before calculating the weighted average
games = games_data_df[games_data_df.user_score!="tbd"]
movies = movies_data_df[movies_data_df.user_score!="tbd"]
music = music_data_df[music_data_df.user_score!="tbd"]
tv = tv_data_df[tv_data_df.user_score!="tbd"]

In [7]:
#rename "sort_no" column so that we can reference the original rank after
games = games.rename(columns={'sort_no': 'original_sort_no'})
movies = movies.rename(columns={'sort_no': 'original_sort_no'})
music = music.rename(columns={'sort_no': 'original_sort_no'})
tv = tv.rename(columns={'sort_no': 'original_sort_no'})

In [8]:
music.head()

,id,artist,metascore,release_date,original_sort_no,summary,title,user_score
0,13354,Wadada Leo Smith,99,"May 22, 2012",1,The four-disc set from the jazz trumpeter was ...,Ten Freedom Summers,4.2
1,37516,Fiona Apple,98,"April 17, 2020",2,The fifth full-length studio release for the a...,Fetch the Bolt Cutters,8.1
2,1671,Brian Wilson,97,"September 28, 2004",3,"Well, better 37 years late than never. Origina...",SMiLE,7.9
3,1538,Loretta Lynn,97,"April 27, 2004",4,It's been over 40 years since she released her...,Van Lear Rose,8.4
4,22163,Kendrick Lamar,96,"March 16, 2015",5,The third full-length studio release from the ...,To Pimp A Butterfly,8.9

In [9]:
#Check column data types
music.dtypes

id                   int64
artist              object
metascore            int64
release_date        object
original_sort_no     int64
summary             object
title               object
user_score          object
dtype: object

In [10]:
#Convert the user score column to a numberic
games["user_score"] = pd.to_numeric(games["user_score"])
movies["user_score"] = pd.to_numeric(movies["user_score"])
music["user_score"] = pd.to_numeric(music["user_score"])
tv["user_score"] = pd.to_numeric(tv["user_score"])

In [11]:
#Multiply the user score column by 10 to match the metascore
games.user_score = games.user_score.multiply(10)
movies.user_score = movies.user_score.multiply(10)
music.user_score = music.user_score.multiply(10)
tv.user_score = tv.user_score.multiply(10)

In [12]:
#Covert the metascore column to a float to match the user score
games["metascore"] = games["metascore"].astype(np.float64)
movies["metascore"] = movies["metascore"].astype(np.float64)
music["metascore"] = music["metascore"].astype(np.float64)
tv["metascore"] = tv["metascore"].astype(np.float64)

In [13]:
music.dtypes

id                    int64
artist               object
metascore           float64
release_date         object
original_sort_no      int64
summary              object
title                object
user_score          float64
dtype: object

In [14]:
music.head()

,id,artist,metascore,release_date,original_sort_no,summary,title,user_score
0,13354,Wadada Leo Smith,99.0,"May 22, 2012",1,The four-disc set from the jazz trumpeter was ...,Ten Freedom Summers,42.0
1,37516,Fiona Apple,98.0,"April 17, 2020",2,The fifth full-length studio release for the a...,Fetch the Bolt Cutters,81.0
2,1671,Brian Wilson,97.0,"September 28, 2004",3,"Well, better 37 years late than never. Origina...",SMiLE,79.0
3,1538,Loretta Lynn,97.0,"April 27, 2004",4,It's been over 40 years since she released her...,Van Lear Rose,84.0
4,22163,Kendrick Lamar,96.0,"March 16, 2015",5,The third full-length studio release from the ...,To Pimp A Butterfly,89.0

In [15]:
#Calculate the weighted average of metascores and user scores combined
games_weight_average = games["user_score"]*.6 + games["metascore"]*.4
movies_weight_average = movies["user_score"]*.6 + movies["metascore"]*.4
music_weight_average = music["user_score"]*.6 + music["metascore"]*.4
tv_weight_average = tv["user_score"]*.6 + tv["metascore"]*.4

In [16]:
#Add weighted average column to data frames
games = games.assign(weighted_average = games_weight_average)
movies = movies.assign(weighted_average = movies_weight_average)
music = music.assign(weighted_average = music_weight_average)
tv = tv.assign(weighted_average = tv_weight_average)

In [17]:
music.head()

,id,artist,metascore,release_date,original_sort_no,summary,title,user_score,weighted_average
0,13354,Wadada Leo Smith,99.0,"May 22, 2012",1,The four-disc set from the jazz trumpeter was ...,Ten Freedom Summers,42.0,64.8
1,37516,Fiona Apple,98.0,"April 17, 2020",2,The fifth full-length studio release for the a...,Fetch the Bolt Cutters,81.0,87.8
2,1671,Brian Wilson,97.0,"September 28, 2004",3,"Well, better 37 years late than never. Origina...",SMiLE,79.0,86.2
3,1538,Loretta Lynn,97.0,"April 27, 2004",4,It's been over 40 years since she released her...,Van Lear Rose,84.0,89.2
4,22163,Kendrick Lamar,96.0,"March 16, 2015",5,The third full-length studio release from the ...,To Pimp A Butterfly,89.0,91.8

In [18]:
music.dtypes

id                    int64
artist               object
metascore           float64
release_date         object
original_sort_no      int64
summary              object
title                object
user_score          float64
weighted_average    float64
dtype: object

In [19]:
#Sort records by the weighted average of scores
music.sort_values(by='weighted_average', ascending=False)

,id,artist,metascore,release_date,original_sort_no,summary,title,user_score,weighted_average
4,22163,Kendrick Lamar,96.0,"March 16, 2015",5,The third full-length studio release from the ...,To Pimp A Butterfly,89.0,91.8
729,43671,RAYE,88.0,"February 3, 2023",141,The debut full-length release for London-based...,My 21st Century Blues,93.0,91.0
8,429,Outkast,95.0,"October 31, 2000",9,"Featuring the hit singles ""B.O.B."" and ""Ms. Ja...",Stankonia,88.0,90.8
16,1607,Madvillain,93.0,"March 23, 2004",17,'Madvillainy' is a collaboration between rappe...,Madvillainy,89.0,90.6
38,34722,Weyes Blood,91.0,"April 5, 2019",39,The fourth full-length release for Natalie Mer...,Titanic Rising,90.0,90.4
...,...,...,...,...,...,...,...,...,...
13144,8618,Viva Brother,34.0,"August 1, 2011",13318,"The debut album for the British pop rock band,...",Famous First Words,25.0,28.6
13142,1533,Dirty Vegas,35.0,"November 30, 2004",13316,The UK dance trio returns with a sophomore rel...,One,24.0,28.4
13136,33995,6ix9ine,38.0,"November 27, 2018",13310,The debut full-length studio release for the r...,DUMMY BOY,18.0,26.0
13119,4072,Soulja Boy Tell Em,42.0,"December 16, 2008",13292,The follow-up to Souljboytellem.com was produc...,iSouljaBoyTellem,14.0,25.2
13146,2756,Kevin Federline,15.0,"October 31, 2006",13320,"Now that Britney has dumped him, all he has is...",Playing With Fire,22.0,19.2

In [22]:
music['weighted_sort_no'] = range(1, len(music) + 1)

In [23]:
music.head()

,id,artist,metascore,release_date,original_sort_no,summary,title,user_score,weighted_average,weighted_sort_no
0,13354,Wadada Leo Smith,99.0,"May 22, 2012",1,The four-disc set from the jazz trumpeter was ...,Ten Freedom Summers,42.0,64.8,1
1,37516,Fiona Apple,98.0,"April 17, 2020",2,The fifth full-length studio release for the a...,Fetch the Bolt Cutters,81.0,87.8,2
2,1671,Brian Wilson,97.0,"September 28, 2004",3,"Well, better 37 years late than never. Origina...",SMiLE,79.0,86.2,3
3,1538,Loretta Lynn,97.0,"April 27, 2004",4,It's been over 40 years since she released her...,Van Lear Rose,84.0,89.2,4
4,22163,Kendrick Lamar,96.0,"March 16, 2015",5,The third full-length studio release from the ...,To Pimp A Butterfly,89.0,91.8,5